.encabezado {
    background-color: $colorprimero;
    color: hsl(0, 0%, 96%);
    height: 65px; 
    font-family: 'Roboto', sans-serif;    
    font-size: 25px;
    h1{
        padding: 15px;
        text-align: center;
        font-weight: 100;
        font-family: 'Poppins'
    }
}

// .flex-container ul{
//     display: flex; 
//     background-color: $colorprimero;
//     flex-direction: row;
//     justify-content:space-around;
//     width: 100%;
//     list-style-type: none;
//     color: $blancos;
    
  
// }

// ul li a {
//     display: inline-block;
//     padding: 15px 90px;
//     text-decoration: none;
//     color: $blancos;
  
// }

// li a:hover {
//     background-color: #6272A3 ;
//     color: $blancos;

